---
import Layout from '../layouts/Layout.astro';
import "../styles/tailwind.css";
import Chat from '../components/chat.astro';
---

<Layout>
	<main class="w-full h-full bg-gray-800 flex justify-center items-center">
		<Chat />
	</main>
</Layout>
